

@font-face {
  font-family: Gotham;
  src: url("../static/fonts/GothamBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Gotham;
  src: url("../static/fonts/GothamBook.ttf") format("truetype");
  font-weight: book;
}
@font-face {
  font-family: Gotham;
  src: url("../static/fonts/GothamLight.ttf") format("truetype");
  font-weight: light;
}

@font-face {
    font-family: W95FA;
    src: url('../static/fonts/w95fa.woff2') format('truetype');
    font-weight: regular;
}

@keyframes WindowsBlurr {
  0% {
    background-position: 0% 28%;
  }
  50% {
    background-position: 100% 73%;
  }
  100% {
    background-position: 0% 28%;
  }
}

html {
    min-height: 100%;
    margin: 0;
}

body {
    font-family: W95FA;
    font-weight: regular;
    /* overflow: hidden; */
    min-height: 100%;
    margin: 0;

  background: linear-gradient(144deg, #6209BD, #8043E2, #720098, #0207AA);
  background-size: 800% 800%;

  animation: WindowsBlurr 30s ease infinite;
}

.overlay {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  overflow-x: hidden;
  transition: 0.5s;
  border-width: 2px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  border-style: outset;
}

.overlay-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
div.overlaybar {
  background-color: #1926e1;
  color: #ffffff;
  border-width: 1px;
  border-color: #000000 #808080 #808080 #FFFFFF;
  border-style: outset;
  height: 25px;
  display:flexbox;
}

.overlaybar {
  background-color: #1926e1;
  color: #ffffff;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 5px;
  padding-right: 2px;
}

.closebtn {
  justify-self: end;
  background-color: #c0c0c0;
  margin: 2px 2px 2px 2px;
  position : relative;
  border-width: 1px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  border-style: outset;
  padding: 2px 2px 2px 2px;
  /* display: flex; */
  /* float: left;  */
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  cursor: pointer;
  color: #000000;
  
}


.closebtn:hover {
  background-color: #808080;
  color: #000000;
}


h1 {
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 2px;
}


#spotifyConnect-btn {
  justify-self: center;
  background-color: #c0c0c0;
  position: relative;

  display: grid;
  align-items: center;
  border-width: 2px;
  border-color: #000000 #808080 #808080 #FFFFFF;
  border-style: outset;
  /* padding: 2px 2px 2px 2px; */
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  cursor: pointer;
  color: #000000;
  margin: 2px 2px 2px 2px;

}
#spotifyConnect-btn:hover {
  background-color: #808080;
  border-color: #000000 #808080 #808080 #FFFFFF;
}

#playlistBttnContainer{
    position: fixed;      
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    z-index: 100;
} 

#createPlaylist-btn{
  /* justify-self: center; */
  background-color: #c0c0c0;
  /* position: absolute; */
  /* align-items: center; */
  border-width: 5px;
  border-color: #000000 #808080 #808080 #ffffff;
  border-style: outset;
  padding: 5px 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: w95fa;
  /* text-align: center; */
  cursor: pointer;
  margin: 3px 3px 3px 3px;
  color: #000000;
  opacity: 0.8;
}



#createPlaylist-btn:hover {
  background-color: #676666;
  color: #ffffff;
}

#createPlaylist-btn:active {
   background-color: #676666; 
  color: #ffffff; 
  scale: 0.9;
}

.navBarElement {
    float: both;
    color: #ffffff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-color: #000000;
    box-sizing: border-box;
    cursor: pointer;
}

#help {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
}

#navBar {
    position: absolute;
    top: 50%;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#navProgress {
    position: absolute;
    width: 4px;
    transform: translateX(-50%);
    color: #000000;
    background-color: #000000;
    background: var(--line-border-fill);
    content: "";
}

