:root {
  --grey: #c6c6c6;
  --blue: #000080;
  --green: #42887E;
  --pink: #EB43A3;
  --yellow: #C5EA56;
  --lightBlue: #0827F5;
}

@font-face {
  font-family: Gotham;
  src: url("../static/fonts/GothamBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Gotham;
  src: url("../static/fonts/GothamBook.ttf") format("truetype");
  font-weight: book;
}
@font-face {
  font-family: Gotham;
  src: url("../static/fonts/GothamLight.ttf") format("truetype");
  font-weight: light;
}

@font-face {
    font-family: W95FA;
    src: url('../static/fonts/w95fa.woff2') format('truetype');
    font-weight: regular;
}


@keyframes WindowsBlurr {
  0% {
    background-position: 0% 28%;
  }
  50% {
    background-position: 100% 73%;
  }
  100% {
    background-position: 0% 28%;
  }
}

html {
  overflow: hidden;
  min-height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: W95FA;
  font-weight: regular;
  min-width: 1140px;

  min-height: 100%;
  margin: 0;

  background: linear-gradient(144deg, var(--yellow), var(--pink), var(--green), var(--blue));
  background-size: 600% 600%;

  animation: WindowsBlurr 30s ease infinite;
}

p{
  line-height: 1.5rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.progress-bar-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  flex-direction: column;
  justify-content: center;
  color: #000000;
  accent-color: var(--blue);
  text-align: center;
  transition: width .6s ease-in-out;
}

.progress-bar-blocks{
  background-image: linear-gradient(90deg,transparent 75%,#f30a0a 10%);
  background-size: 1rem 1rem;
}

.progress-bar-container label{
  color: #000000;
  font-size: 2rem;
  margin: 1%;
}

h1 {
  font-size: 20px;
  margin: 0px;
  color:#000000;
}

button {
  justify-self: center;
  background-color: var(--grey);
  position: relative;

  display: grid;
  align-items: center;
  border-width: 3px;
  /* border-color: #000000 #808080 #ffffff #FFFFFF; */
  border-style: outset;
  /* padding: 2px 2px 2px 2px; */
  font-size: 12px;
  font-weight: regular;
  font-family: W95FA;
  text-align: center;
  cursor: pointer;
  color: #000000;
  margin: 2px 2px 2px 2px;
}

button:hover {
  border-style: inset;
}

.windows95edges {
  border-width: 3px;
  border-style: outset;
  /* border-color: #000000 #808080 #ffffff #FFFFFF; */
}

.windows95edgesImage {
  border-width: 3px;
  border-style: inset;
}

.overlay {
  /* height: 70%; */
  /* width: 60%; */
  position: fixed;
  /* display: none; */
  z-index: 2;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--grey);
  overflow: auto;
  transition: 0.5s;
}

.overlaybar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--blue);
  color: #ffffff;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 2px;
  font-size: 16px;
}

.closebtn {
  justify-self: end;
  background-color: #c0c0c0;
  margin: 2px 2px 2px 2px;
  position : relative;
  border-width: 1px;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  border-style: outset;
  padding: 2px 2px 2px 2px;
  /* display: flex; */
  /* float: left;  */
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  cursor: pointer;
  color: #000000;
  
}


.closebtn:hover {
  background-color: #808080;
  color: #000000;
}


#spotifyConnect-btn {
  justify-self: center;
  background-color: #c0c0c0;
  position: relative;

  display: grid;
  align-items: center;
  border-width: 2px;
  border-color: #000000 #808080 #808080 #FFFFFF;
  border-style: outset;
  /* padding: 2px 2px 2px 2px; */
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  cursor: pointer;
  color: #000000;
  margin: 2px 2px 2px 2px;

}
#spotifyConnect-btn:hover {
  background-color: #808080;
  border-color: #000000 #808080 #808080 #FFFFFF;
}

#playlistBttnContainer{
    position: fixed;      
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 1;
} 

#playlistButton{
  display: none;
  /* justify-self: center; */
  background-color: #c0c0c0;
  /* position: absolute; */
  /* align-items: center; */
  border-width: 5px;
  border-color: #000000 #808080 #808080 #ffffff;
  border-style: outset;
  padding: 5px 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: w95fa;
  /* text-align: center; */
  cursor: pointer;
  margin: 3px 3px 3px 3px;
  color: #000000;
  opacity: 0.8;
}



#playlistButton:hover {
  background-color: #676666;
  color: #ffffff;
}

#playlistButton:active {
   background-color: #676666; 
  color: #ffffff; 
  scale: 0.9;
}

.navBarElement {
  position: absolute;
  max-width: 25rem;
  z-index: 1;
  right: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  color: #ffffff;
  cursor: pointer;
  transition: .2s ease;
}

.navBarElement:hover .navBarElementLable {
  visibility: visible;
  width: 7rem;
  opacity: 100%;
  right: 3rem;
  font-size: inherit;
}


.navBarElementImg {
  /* position: absolute; */
  object-fit: cover;
  width: 25px;
  height: 25px;
  /* right: 150%; */
}

.navBarElementImg:hover {
  height: 30px;
  width: 30px;
}

.navBarElementLable {
  position: absolute;
  right: 0rem;
  z-index: -3;
  width: 0rem;
  font-size: 0.01rem;
  text-align: right;
  visibility: hidden;
  opacity: 0%;
  transition: .2s ease;
}

#pageBlocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(8px);
  z-index: 1;
  transition: .2s ease;
}

#fensterInhaltWrap {
  margin: 4%;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#fensterInhalt {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 5%;
}

#fensterTutorialImg {
  aspect-ratio: 1/1;
  max-width: 50%;
  object-fit: cover;
}

#fensterInhaltRechts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  overflow: auto;
}

#loginStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#profilImage {
  /* border-width: 2px;
  border-style: inset; */
  height: 50px;
  width: 50px;
  object-fit: cover;
}

#spotifyConnectButton {
  padding: 5%;
  font-size: 16px;
  margin: 0;
}

#timeRangeDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: stretch;
}

#help {
    position: fixed;
    top: 2rem;
    left: 2rem;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#helpWindow {
    display: none;
    position: fixed;
    top: 2rem;
    left: 2rem;
    /* height: 15rem; */
    /* width: 20rem; */
    max-width: 30vw;
    background-color: var(--grey);
}

#helpWindowInhalt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

#helpToStartButton {
    padding: 0.5rem;
    font-size: 16px;
}

#navBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    top: 50%;
    right: 1.5rem;
    height: 60vh;
    width: 1.2rem;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--grey);
}

#navProgress {
  position: absolute;
  z-index: 1;
  left: 20%;
  height: 0%;
  width: 60%;
  background-color: var(--blue);
}


