@font-face {
    font-family: Gotham;
    src: url('../static/fonts/GothamBold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url('../static/fonts/GothamBook.ttf') format('truetype');
    font-weight: book;
}
@font-face {
    font-family: Gotham;
    src: url('../static/fonts/GothamLight.ttf') format('truetype');
    font-weight: light;
}

@keyframes WindowsBlurr {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}

body {
    font-family: Gotham;
    font-weight: bold;

    background: linear-gradient(144deg, #43ccb4, #3373ae, #bf61dd, #67e3a1);
    background-size: 800% 800%;

    animation: WindowsBlurr 30s ease infinite;
}

.overlay {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #c4c4c4;
    overflow-x: hidden;
    transition: 0.5s;
    border-style: outset;
}

.overlaybar {
    background-color: #1926e1;
    color: #ffffff;
    height: 25px;
}

.closebtn {
    color: hsl(0, 0%, 0%);
    background-color: #c4c4c4;
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    line-height: 0.6;
    letter-spacing: auto;
    
}

